/*
 * Layout
 */
.wrap {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;	
  margin-left: auto;
  margin-right: auto;
	max-width: 1140px;
	padding-right: rem-calc(10);
	padding-left: rem-calc(10);
	&.align-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
	}
	&.align-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: flex-end;
		justify-content: flex-end;
	}
	&.align-top {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		> .cell,
		> .column {	
	    -webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	    align-self: flex-start;
	  }
	}
	.wrap {
		padding-right: 0;
		padding-left: 0;
	}
	@media only screen and (min-width:48em) {
		&.stretch {
			max-width: none;
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.cell {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  &.align-end {
	  -webkit-align-self: flex-start;
	  -ms-flex-item-align: flex-start;
	  align-self: flex-start;
  }
  &.align-end {
	  -webkit-align-self: flex-end;
	  -ms-flex-item-align: flex-end;
	  align-self: flex-end;
  }
	> img {
		max-width: 100%;
	}
	&:not([class*="small"]):not([class*="medium"]):not([class*="large"]) {
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
  }
}

.column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.small-1 {
	width:8.33333%;
	max-width:8.33333%;
	-webkit-box-flex: .8333;
	-moz-box-flex: .8333;
	-webkit-flex: .8333 1 auto;
	-ms-flex: .8333 1 auto;
	flex: .8333 1 auto;
}

.small-push-1 {
	position:relative;
	left:8.33333%
}

.small-pull-1 {
	position:relative;
	left:-8.33333%
}

.small-offset-0 {
	margin-left:0
}

.small-2 {
	width: 16.6667%;
	max-width: 16.6667%;
	-webkit-box-flex: .1666;
	-moz-box-flex: .1666;
	-webkit-flex: .1666 1 auto;
	-ms-flex: .1666 1 auto;
	flex: .1666 1 auto;
}

.small-push-2 {
	position:relative;
	left:16.66667%
}

.small-pull-2 {
	position:relative;
	left:-16.66667%
}

.small-offset-1 {
	margin-left:8.33333%
}

.small-3 {
	width: 25%;
	max-width: 25%;
	-webkit-box-flex: .25;
	-moz-box-flex: .25;
	-webkit-flex: .25 1 auto;
	-ms-flex: .25 1 auto;
	flex: .25 1 auto;
}

.small-push-3 {
	position:relative;
	left:25%
}

.small-pull-3 {
	position:relative;
	left:-25%
}

.small-offset-2 {
	margin-left:16.66667%
}

.small-4 {
	width: 33.3334%;
	max-width: 33.3334%;
	-webkit-box-flex: .3333;
	-moz-box-flex: .3333;
	-webkit-flex: .3333 1 auto;
	-ms-flex: .3333 1 auto;
	flex: .3333 1 auto;
}

.small-push-4 {
	position:relative;
	left:33.33333%
}

.small-pull-4 {
	position:relative;
	left:-33.33333%
}

.small-offset-3 {
	margin-left:25%
}

.small-5 {
	width: 41.6667%;
	max-width: 41.6667%;
	-webkit-box-flex: .4166;
	-moz-box-flex: .4166;
	-webkit-flex: .4166 1 auto;
  -ms-flex: .4166 1 auto;
  flex: .4166 1 auto;
}

.small-push-5 {
	position:relative;
	left:41.66667%
}

.small-pull-5 {
	position:relative;
	left:-41.66667%
}

.small-offset-4 {
	margin-left:33.33333%
}

.small-6 {
	width: 50%;
	max-width: 50%;
	-webkit-box-flex: .5;
	-moz-box-flex: .5;
	-webkit-flex: .5 1 auto;
	-ms-flex: .5 1 auto;
	flex: .5 1 auto;
}

.small-push-6 {
	position:relative;
	left:50%
}

.small-pull-6 {
	position:relative;
	left:-50%
}

.small-offset-5 {
	margin-left:41.66667%
}

.small-7 {
	width: 58.3334%;
	max-width: 58.3334%;
	-webkit-box-flex: .5833;
	-moz-box-flex: .5833;
	-webkit-flex: .5833 1 auto;
  -ms-flex: .5833 1 auto;
  flex: .5833 1 auto;
}

.small-push-7 {
	position:relative;
	left:58.33333%
}

.small-pull-7 {
	position:relative;
	left:-58.33333%
}

.small-offset-6 {
	margin-left:50%
}

.small-8 {
	width: 66.6667%;
	max-width: 66.6667%;
	-webkit-box-flex: .6666;
	-moz-box-flex: .6666;
	-webkit-flex: .6666 1 auto;
  -ms-flex: .6666 1 auto;
  flex: .6666 1 auto;
}

.small-push-8 {
	position:relative;
	left:66.66667%
}

.small-pull-8 {
	position:relative;
	left:-66.66667%
}

.small-offset-7 {
	margin-left:58.33333%
}

.small-9 {
	width: 75%;
	max-width: 75%;
	-webkit-box-flex: .75;
	-moz-box-flex: .75;
	-webkit-flex: .75 1 auto;
  -ms-flex: .75 1 auto;
  flex: .75 1 auto;
}

.small-push-9 {
	position:relative;
	left:75%
}

.small-pull-9 {
	position:relative;
	left:-75%
}

.small-offset-8 {
	margin-left:66.66667%
}

.small-10 {
	width: 83.3333%;
	max-width: 83.3333%;
	-webkit-box-flex: .8333;
	-moz-box-flex: .8333;
	-webkit-flex: .8333 1 auto;
  -ms-flex: .8333 1 auto;
  flex: .8333 1 auto;
}

.small-push-10 {
	position:relative;
	left:83.33333%
}

.small-pull-10 {
	position:relative;
	left:-83.33333%
}

.small-offset-9 {
	margin-left:75%
}

.small-11 {
	width: 91.6667%;
	max-width: 91.6667%;
	-webkit-box-flex: .9166;
	-moz-box-flex: .9166;
	-webkit-flex: .9166 1 auto;
  -ms-flex: .9166 1 auto;
  flex: .9166 1 auto;
}

.small-push-11 {
	position:relative;
	left:91.66667%
}

.small-pull-11 {
	position:relative;
	left:-91.66667%
}

.small-offset-10 {
	margin-left:83.33333%
}

.small-12 {
	width: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.small-offset-11 {
	margin-left:91.66667%
}

/* Phone Up */
@media only screen and (min-width: 40em) {
	.show-for-phone {
		display: none !important;
	}

	&.column {		
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	}
	.medium-1 {
		width:8.33333%;
		max-width:8.33333%;
		-webkit-box-flex: .8333;
		-moz-box-flex: .8333;
		-webkit-flex: .8333 1 auto;
		-ms-flex: .8333 1 auto;
		flex: .8333 1 auto;
	}
	
	.medium-push-1 {
		position:relative;
		left:8.33333%
	}
	
	.medium-pull-1 {
		position:relative;
		left:-8.33333%
	}
	
	.medium-offset-0 {
		margin-left:0
	}
	
	.medium-2 {
		width: 16.6667%;
		max-width: 16.6667%;
		-webkit-box-flex: .1666;
		-moz-box-flex: .1666;
		-webkit-flex: .1666 1 auto;
	  -ms-flex: .1666 1 auto;
	  flex: .1666 1 auto;
	}
	
	.medium-push-2 {
		position:relative;
		left:16.66667%
	}
	
	.medium-pull-2 {
		position:relative;
		left:-16.66667%
	}
	
	.medium-offset-1 {
		margin-left:8.33333%
	}
	
	.medium-3 {
		width: 25%;
		max-width: 25%;
		-webkit-box-flex: .25;
		-moz-box-flex: .25;
		-webkit-flex: .25 1 auto;
	  -ms-flex: .25 1 auto;
	  flex: .25 1 auto;
	}
	
	.medium-push-3 {
		position:relative;
		left:25%
	}
	
	.medium-pull-3 {
		position:relative;
		left:-25%
	}
	
	.medium-offset-2 {
		margin-left:16.66667%
	}
	
	.medium-4 {
		width: 33.3334%;
		max-width: 33.3334%;
		-webkit-box-flex: .3333;
		-moz-box-flex: .3333;
		-webkit-flex: .3333 1 auto;
	  -ms-flex: .3333 1 auto;
	  flex: .3333 1 auto;
	}
	
	.medium-push-4 {
		position:relative;
		left:33.33333%
	}
	
	.medium-pull-4 {
		position:relative;
		left:-33.33333%
	}
	
	.medium-offset-3 {
		margin-left:25%
	}
	
	.medium-5 {
		width: 41.6667%;
		max-width: 41.6667%;
		-webkit-box-flex: .4166;
		-moz-box-flex: .4166;
		-webkit-flex: .4166 1 auto;
	  -ms-flex: .4166 1 auto;
	  flex: .4166 1 auto;
	}
	
	.medium-push-5 {
		position:relative;
		left:41.66667%
	}
	
	.medium-pull-5 {
		position:relative;
		left:-41.66667%
	}
	
	.medium-offset-4 {
		margin-left:33.33333%
	}
	
	.medium-6 {
		width: 50%;
		max-width: 50%;
		-webkit-box-flex: .5;
		-moz-box-flex: .5;
		-webkit-flex: .5 1 auto;
	  -ms-flex: .5 1 auto;
	  flex: .5 1 auto;
	}
	
	.medium-push-6 {
		position:relative;
		left:50%
	}
	
	.medium-pull-6 {
		position:relative;
		left:-50%
	}
	
	.medium-offset-5 {
		margin-left:41.66667%
	}
	
	.medium-7 {
		width: 58.3334%;
		max-width: 58.3334%;
		-webkit-box-flex: .5833;
		-moz-box-flex: .5833;
		-webkit-flex: .5833 1 auto;
	  -ms-flex: .5833 1 auto;
	  flex: .5833 1 auto;
	}
	
	.medium-push-7 {
		position:relative;
		left:58.33333%
	}
	
	.medium-pull-7 {
		position:relative;
		left:-58.33333%
	}
	
	.medium-offset-6 {
		margin-left:50%
	}
	
	.medium-8 {
		width: 66.6667%;
		max-width: 66.6667%;
		-webkit-box-flex: .6666;
		-moz-box-flex: .6666;
		-webkit-flex: .6666 1 auto;
	  -ms-flex: .6666 1 auto;
	  flex: .6666 1 auto;
	}
	
	.medium-push-8 {
		position:relative;
		left:66.66667%
	}
	
	.medium-pull-8 {
		position:relative;
		left:-66.66667%
	}
	
	.medium-offset-7 {
		margin-left:58.33333%
	}
	
	.medium-9 {
		width: 75%;
		max-width: 75%;
		-webkit-box-flex: .75;
		-moz-box-flex: .75;
		-webkit-flex: .75 1 auto;
	  -ms-flex: .75 1 auto;
	  flex: .75 1 auto;
	}
	
	.medium-push-9 {
		position:relative;
		left:75%
	}
	
	.medium-pull-9 {
		position:relative;
		left:-75%
	}
	
	.medium-offset-8 {
		margin-left:66.66667%
	}
	
	.medium-10 {
		width: 83.3333%;
		max-width: 83.3333%;
		-webkit-box-flex: .8333;
		-moz-box-flex: .8333;
		-webkit-flex: .8333 1 auto;
	  -ms-flex: .8333 1 auto;
	  flex: .8333 1 auto;
	}
	
	.medium-push-10 {
		position:relative;
		left:83.33333%
	}
	
	.medium-pull-10 {
		position:relative;
		left:-83.33333%
	}
	
	.medium-offset-9 {
		margin-left:75%
	}
	
	.medium-11 {	
		width: 91.6667%;
		max-width: 91.6667%;
		-webkit-box-flex: .9166;
		-moz-box-flex: .9166;
		-webkit-flex: .9166 1 auto;
	  -ms-flex: .9166 1 auto;
	  flex: .9166 1 auto;
	}
	
	.medium-push-11 {
		position:relative;
		left:91.66667%
	}
	
	.medium-pull-11 {
		position:relative;
		left:-91.66667%
	}
	
	.medium-offset-10 {
		margin-left:83.33333%
	}
	
	.medium-12 {
		width: 100%;
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 1 auto;
	  -ms-flex: 1 1 auto;
	  flex: 1 1 auto;
	}
	
	.medium-offset-11 {
		margin-left:91.66667%
	}
}

/* Phone & Phablet */
@media only screen and (max-width: 47.9375em) {
	.show-for-laptop {
		display: none !important;
	}
	.hide-for-laptop {
		display: none !important;
	}
}


/* Phablet Down */
@media only screen and (min-width: 48em) {
	.show-for-phablet-down {
		display: none !important;
	}
}
/* Laptop Up */
@media only screen and (min-width: 64em) {
	.show-for-tablet-down {
		display: none !important;
	}
	.show-for-phablet {
		display: none !important;
	}
	.cell {
	  > :last-child {
		  margin-bottom: auto;
		}
	}
	
	.large-1 {
		width:8.33333%;
		max-width:8.33333%;
		-webkit-box-flex: .8333;
		-moz-box-flex: .8333;
		-webkit-flex: .8333 1 auto;
		-ms-flex: .8333 1 auto;
		flex: .8333 1 auto;
	}
	
	.large-push-1 {
		position:relative;
		left:8.33333%
	}
	
	.large-pull-1 {
		position:relative;
		left:-8.33333%
	}
	
	.large-offset-0 {
		margin-left:0
	}
	
	.large-2 {
		width: 16.6667%;
		max-width: 16.6667%;
		-webkit-box-flex: .1666;
		-moz-box-flex: .1666;
		-webkit-flex: .1666 1 auto;
	  -ms-flex: .1666 1 auto;
	  flex: .1666 1 auto;
	}
	
	.large-push-2 {
		position:relative;
		left:16.66667%
	}
	
	.large-pull-2 {
		position:relative;
		left:-16.66667%
	}
	
	.large-offset-1 {
		margin-left:8.33333%
	}
	
	.large-3 {
		width: 25%;
		max-width: 25%;
		-webkit-box-flex: .25;
		-moz-box-flex: .25;
		-webkit-flex: .25 1 auto;
	  -ms-flex: .25 1 auto;
	  flex: .25 1 auto;
	}
	
	.large-push-3 {
		position:relative;
		left:25%
	}
	
	.large-pull-3 {
		position:relative;
		left:-25%
	}
	
	.large-offset-2 {
		margin-left:16.66667%
	}
	
	.large-4 {
		width: 33.3334%;
		max-width: 33.3334%;
		-webkit-box-flex: .3333;
		-moz-box-flex: .3333;
		-webkit-flex: .3333 1 auto;
	  -ms-flex: .3333 1 auto;
	  flex: .3333 1 auto;
	}
	
	.large-push-4 {
		position:relative;
		left:33.33333%
	}
	
	.large-pull-4 {
		position:relative;
		left:-33.33333%
	}
	
	.large-offset-3 {
		margin-left:25%
	}
	
	.large-5 {
		width: 41.6667%;
		max-width: 41.6667%;
		-webkit-box-flex: .4166;
		-moz-box-flex: .4166;		
		-webkit-flex: .4166 1 auto;
	  -ms-flex: .4166 1 auto;
	  flex: .4166 1 auto;
	}
	
	.large-push-5 {
		position:relative;
		left:41.66667%
	}
	
	.large-pull-5 {
		position:relative;
		left:-41.66667%
	}
	
	.large-offset-4 {
		margin-left:33.33333%
	}
	
	.large-6 {
		width: 50%;
		max-width: 50%;
		-webkit-box-flex: .5;
		-moz-box-flex: .5;
		-webkit-flex: .5 1 auto;
	  -ms-flex: .5 1 auto;
	  flex: .5 1 auto;
	}
	
	.large-push-6 {
		position:relative;
		left:50%
	}
	
	.large-pull-6 {
		position:relative;
		left:-50%
	}
	
	.large-offset-5 {
		margin-left:41.66667%
	}
	
	.large-7 {
		width: 58.3334%;
		max-width: 58.3334%;
		-webkit-box-flex: .5833;
		-moz-box-flex: .5833;
		-webkit-flex: .5833 1 auto;
	  -ms-flex: .5833 1 auto;
	  flex: .5833 1 auto;
	}
	
	.large-push-7 {
		position:relative;
		left:58.33333%
	}
	
	.large-pull-7 {
		position:relative;
		left:-58.33333%
	}
	
	.large-offset-6 {
		margin-left:50%
	}
	
	.large-8 {
		width: 66.6667%;
		max-width: 66.6667%;
		-webkit-box-flex: .6666;
		-moz-box-flex: .6666;
		-webkit-flex: .6666 1 auto;
	  -ms-flex: .6666 1 auto;
	  flex: .6666 1 auto;
	}
	
	.large-push-8 {
		position:relative;
		left:66.66667%
	}
	
	.large-pull-8 {
		position:relative;
		left:-66.66667%
	}
	
	.large-offset-7 {
		margin-left:58.33333%
	}
	
	.large-9 {
		width: 75%;
		max-width: 75%;
		-webkit-box-flex: .75;
		-moz-box-flex: .75;
		-webkit-flex: .75 1 auto;
	  -ms-flex: .75 1 auto;
	  flex: .75 1 auto;
	}
	
	.large-push-9 {
		position:relative;
		left:75%
	}
	
	.large-pull-9 {
		position:relative;
		left:-75%
	}
	
	.large-offset-8 {
		margin-left:66.66667%
	}
	
	.large-10 {
		width: 83.3333%;
		max-width: 83.3333%;
		-webkit-box-flex: .8333;
		-moz-box-flex: .8333;
		-webkit-flex: .8333 1 auto;
	  -ms-flex: .8333 1 auto;
	  flex: .8333 1 auto;
	}
	
	.large-push-10 {
		position:relative;
		left:83.33333%
	}
	
	.large-pull-10 {
		position:relative;
		left:-83.33333%
	}
	
	.large-offset-9 {
		margin-left:75%
	}
	
	.large-11 {	
		width: 91.6667%;
		max-width: 91.6667%;
		-webkit-box-flex: .9166;
		-moz-box-flex: .9166;
		-webkit-flex: .9166 1 auto;
	  -ms-flex: .9166 1 auto;
	  flex: .9166 1 auto;
	}
	
	.large-push-11 {
		position:relative;
		left:91.66667%
	}
	
	.large-pull-11 {
		position:relative;
		left:-91.66667%
	}
	
	.large-offset-10 {
		margin-left:83.33333%
	}
	
	.large-12 {
		width: 100%;
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 1 auto;
	  -ms-flex: 1 1 auto;
	  flex: 1 1 auto;
	}
	
	.large-offset-11 {
		margin-left:91.66667%
	}
}